.home {
  width: 100vw;
  height: fit-content;
  margin-top: 50px;
  margin-bottom: 5%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
}

.dummy-card {
  width: calc(100% - 30px);
  max-width: 97vw;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(37, 15, 15, 0.264);
  display: flex;
}
.img-container{
  display: flex;
  flex-direction: column;
  width: 20%;
}

.img {
  /* max-width: 30%; Limit image width to 30% */
  flex: 0 0 auto; /* Allow the image to shrink but not grow */
}

.responsive-image {
  width: 100%;
  height: auto;
}

.card-details {
  flex: 1; /* Take remaining space */
  padding: 0 10px; /* Add padding to details */
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.card-details1,
.card-details2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buy-button {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
  align-self: flex-end; /* Align button to the end of details */
}

/* @media screen and (max-width: 600px) {
  .home {
    margin-top: 15%;
    margin-bottom: 15%;
    height: fit-content;
  }

  .responsive-image {
    width: 100%;
    height: auto;
  }

  .card-details {
    padding: 0 10px;
  }
  .img-container{
    display: flex;
    flex-direction: column;
    width: 30%;
  }
} */

@media screen and (max-width: 600px) {
  .home {
    margin-top: 15%;
    margin-bottom: 15%;
    height: fit-content;
  }
  /* .dummy-card {
    flex-direction: column;
    align-items: center;
  } */

  .img-container{
    /* display: flex;
    flex-direction: column;
    */
    width: 30%; 
  }

  .responsive-image {
    width: 100%;
    height: auto;
  }
  .card-details {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .card-details1,
  .card-details2 {
    /* display: flex;
    flex-direction: column; */
    gap: 10px;
    /* justify-content: center; */
  }

  .buy-button {
    /* width: auto; Allow button to take the width of its content */
  }
  .title{
    margin-bottom: 22px;
  }
}
