.home{
/* background:#08b1a8; */
width: 100vw;
height: fit-content;
margin-top: 7%;
margin-bottom: 5%;
}
h1 {
  text-align: center;
  margin-top: 60px;
}

/* Container for cards */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Dummy card styling */
.dummy-card {
  width: calc(100% - 20px); /* Subtracting margins */
  /* max-width: 500px; Maximum width for larger screens */
  margin: 10px auto; /* Centering and adding space between cards */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(37, 15, 15, 0.264);
  display: flex; /* Use flexbox for layout */
}

/* Dummy card image */
.dummy-card img {
  width: 20%; /* Set width for image */
  border-radius: 5px;
}

/* Card details container */
.card-details {
  flex: 1; /* Take remaining space */
  padding: 0 10px; /* Add padding */
}

/* Card title */
.card-details h3 {
  font-size: 18px;
}

/* Card description */
.card-details p {
  font-size: 14px;
}

/* Buy button */
.buy-button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


@media screen and (max-width: 650px) {
  .home {
    /* Apply your styles here for mobile view */
    /* background: red; Example background color */
    width: 100vw;
    height: fit-content;
    margin-top: 32%;
  }
}