h3 {
  margin-top: 50px;
}
.financial-page {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.transaction-types {
  display: flex;
  margin-bottom: 20px;
}

.transaction-type {
  flex: 1;
  padding: 10px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
  text-align: center;
  color: black;
}

.transaction-type.active {
  background-color: #4caf50;
  color: white;
}

.transactions-list {
  border-top: 1px solid #ddd;
}

.transaction {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.transaction-status {
  font-weight: bold;
}

.transaction-date {
  color: gray;
}

.transaction-amount {
  font-weight: bold;
}
