/* DetailReferral.css */

.detail-referral-container {
  max-width: 100%;
  padding: 20px;
  box-sizing: border-box;
  padding-bottom: 60px; /* Ensure there's enough space at the bottom */
}

.table-container {
  overflow-x: auto;
  margin-bottom: 20px; /* Add some space below the table */
}

.pagination-container {
  display: flex;
  justify-content: center;
  padding: 20px 0; /* Ensure the pagination is clearly visible */
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

/* Search input styling */
.search-input {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 10px auto;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

/* Responsive adjustments */
@media screen and (max-width: 600px) {
  /* Adjust styles for small devices */
  th,
  td {
    font-size: 14px;
  }

  .search-input {
    font-size: 14px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  /* Adjust styles for mid-sized devices */
  th,
  td {
    font-size: 16px;
  }

  .search-input {
    font-size: 16px;
  }
}

/* You can add more media queries for larger devices if needed */
