/* UserDetails.css */

/* General styling */
.container {
  max-width: 100%;
  margin: 20px auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-x: hidden; /* Hide horizontal overflow */
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Search input styling */
.search-input {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 0 auto 20px auto;
  padding: 12px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 16px;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table-header,
td {
  padding: 12px;
  text-align: center;
}

.table-header {
  background-color: #343a40;
  color: #fff;
}

.amount-input {
  width: 80px;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.add-amount-button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-amount-button:hover {
  background-color: #0056b3;
}

/* Responsive styling */
@media screen and (max-width: 768px) {
  .amount-input {
    width: 60px;
  }

  .add-amount-button {
    padding: 6px 12px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 20px 10px; /* Adjust padding */
    overflow-x: auto; /* Enable horizontal scrolling for smaller screens */
  }

  .user-table {
    min-width: 600px; /* Set minimum width to prevent content from becoming too narrow */
  }

  .amount-input {
    width: 50px;
    padding: 6px;
  }

  .add-amount-button {
    padding: 4px 10px;
  }

  .search-input {
    max-width: 100%;
    font-size: 14px;
    padding: 10px;
  }
}
