.signup {
  background-color: rgb(13, 8, 41); /* Dark background */
  color: white; /* White text color */
  max-width: 400px; /* Max width of the form */
  margin: auto; /* Center the form on the page */
  border-radius: 10px; /* Rounded corners */
  border: 2px solid red; /* Red border */
  padding: 20px; /* Padding inside the form */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 0px;
}

.form-container h2 {
  text-align: center; /* Center the heading */
  margin-bottom: 40px; /* Space below the heading */
  font-family: "'Sedan', serif";
  margin-top: 0;
}

.form-container label {
  display: block; /* Make labels block elements */
  margin-bottom: 5px; /* Space below the labels */
}

.form-container input {
  /* Full width inputs */
  padding: 10px; /* Padding inside the inputs */
  margin-bottom: 20px; /* Space below the inputs */
  border-radius: 5px; /* Rounded corners for inputs */
  border: 1px solid #ccc; /* Border for the inputs */
}

.register_btn {
  background-color: #ff4500; /* Red background for the button */
  color: white; /* White text color for the button */
  padding: 10px; /* Padding inside the button */
  border: none; /* No border for the button */
  width: 90%; /* Full width button */
  border-radius: 20px; /* Rounded corners for the button */
  cursor: pointer; /* Pointer cursor on hover */
}

.register p {
  text-align: center; /* Center the text */
  color: white; /* White text color */
}

@media only screen and ((max-width: 600px)) {
  /* CSS for screens smaller than 600px */
  .signup {
    max-width: 70%; /* Adjust width for small screens */
    margin-top: 180px; /* Adjust top margin */
    margin-bottom: 0 !important; /* Remove bottom margin */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
  }

  .form-container input {
    font-size: 14px; /* Smaller font size for inputs */
  }

  .register_btn {
    width: 90%;
    margin-left: 0; /* Reset margin */
    margin-right: 0; /* Reset margin */
    margin-top: 10px; /* Add margin to top */
  }
}
