
.total-amount-container {
  max-width: 100%;
  margin: 5% auto 0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.additional-links {
  display: flex;
  flex-wrap: wrap; /* Allow links to wrap to the next line on smaller screens */
  margin-top: 10px;
}

.link {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: calc(50% - 10px); /* Take up half the width with some spacing */
}

.link img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.link span {
  margin-right: 5px;
}

.link:hover {
  background-color: #e0e0e0;
}

@media screen and (max-width: 600px) {
  .link {
    width: calc(100% - 20px); /* Take up full width with some spacing */
  }
}