
.total-amount-container {
    width: 100vw;
    height: fit-content;
    margin-top: 50px;
    margin-bottom: 60px; /* Adjusted to ensure footer doesn't overlap content */
  }

.additional-links {
  display: flex;
  flex-wrap: wrap; /* Allow links to wrap to the next line on smaller screens */
  margin-top: 10px;
}

.link {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: calc(50% - 10px); /* Take up half the width with some spacing */
}

.link img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.link span {
  margin-right: 5px;
}

.link:hover {
  background-color: #e0e0e0;
}

@media screen and (max-width: 600px) {
  .link {
    width: calc(100% - 20px); /* Take up full width with some spacing */
  }
}