/* TotalAmountPage.css */

.total-amount-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-top: 7%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adding shadow */
}

.user-info {
  margin-bottom: 20px;
}

.amount-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.amount-details div {
  flex: 1;
  text-align: center;
}

/* .button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; 
}
/* 
.button-container button {
background: linear-gradient(to bottom, #4e8bff, #4e6eff); 
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
} */

.button-container button:hover {
  background: linear-gradient(to bottom, #4e6eff, #4e8bff);
}


.additional-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.additional-links div {
  margin: 5px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .total-amount-container {
    padding: 10px;
  }

  .amount-details {
    flex-direction: column;
  }

  .amount-details div {
    margin-bottom: 10px;
  }

  .button-container {
    flex-direction: column;
  }

  .button-container button {
    margin-bottom: 10px;
  }

  .additional-links div {
    flex-basis: 50%;
  }
  .button-container {
    flex-direction: column;
  }

  .button-container button {
    margin-bottom: 10px;
  }
}

/* TotalAmountPage.css */

.withdrawl-button,
.recharge-button {
  flex: 1; /* Make both buttons take up equal space */
}

.button-container button {
  background: linear-gradient(to bottom, #4e8bff, #4e6eff); /* Adding gradient color */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

