.login {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  /* margin-top: 10px; */
/* padding-top: 25px; */
background: linear-gradient(177deg, rgba(2,0,36,1) 0%, rgba(184,184,214,1) 0%, rgba(0,232,255,0.9810049019607843) 100%);

}
.LoginPage {
  width: 400px;
  /* backdrop-filter: blur(10px); */
  padding: 10px 40px 10px 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* margin-top: 0; */
  /* background-color: rgb(13, 8, 41); */
  background-color: #fff;
  color: black;
  /* box-shadow: -13px -9px 0px 0px rgba(18, 1, 28, 0.4); */
}

.logo{
  width: 30vw;
}
h1 {
  text-align: center;
  color: black;
  font-family: "'Sedan', serif";
}

.login-label {
  margin-bottom: 5px;
  display: block;
  color: black;
  margin-left: 10px;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.input_box {
  width: 90% !important;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-left: 10px;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;

}
.input_box2 {
  width: 95% !important;
  padding: 8px !important;
  border: 1px solid #ccc !important;
  border-radius: 10px !important;
}

.forgot {
  text-align: right;
}
.forgot a {
  color: #007bff;
  text-decoration: none;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;

}
.forgot a:hover {
  text-decoration: underline;
}
.login_btn {
  width: 50%;
  padding: 10px;
  background-color: #007bff;
  color: black;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  display: block;
  margin-left: 95px;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}

.register {
  text-align: center;
  color: black;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
  
}

.register a {
  color: #007bff;
  text-decoration: none;
}

.register a:hover {
  text-decoration: underline;
}

/* buttons  */
.tele_button {
  width: 50%;
  /* padding: 10px; */
  background-color: #007bff; /* Green color */
  color: black;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  display: block;
  margin: 10px auto; /* Center horizontally with some margin */
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
  
}

.support_button {
  width: 50%;
  /* padding: 10px; */
  background-color: #007bff; /* Red color */
  color: black;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  display: block;
  margin: 15px auto; /* Center horizontally with some margin */
}

@media (max-width: 768px) {
  .LoginPage {
    width: 90%; /* Adjust width to fit smaller screens */
    padding: 10px; /* Reduce padding */
    margin-left: auto;
    margin-right: auto;
  }

  .login_btn {
    margin-left: auto;
    margin-right: auto;
    width: 80%; /* Adjust button width */
  }
  .input_box {
    margin-right: 5px !important;
  }
  .input_box1 {
    width: 85%;
    /* margin-left: 15px; */
    padding: 8px;
    border: 1px solid #ccc;
  }
  .input_box2 {
    width: 96% !important;
    padding: 8px;
    border: 1px solid #ccc;

    /* border-radius: 4px; */
  }
  .logo{
    width: 58vw;
  }
}

@media (max-width: 768px) {
  .tele_button,
  .support_button {
    width: 80%; /* Adjust button width for smaller screens */
  }
}
