.navbar {
  background-color: #401F71;
  padding: 10px;
  margin-top: 10px;
  width: 97vw;
  margin-left: 0.4%;
  border-radius: 10px; /* Increased to make it more visibly rounded */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adjust shadow values as needed */
}

.navbar-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.navbar-item {
  margin-right: 10px; /* Adjust as needed */
}

.navbar-link {
  text-decoration: none;
  color: #fff;
}

.navbar-icon {
  width: 30px;
  height: 30px;
}

/* Media Query for responsiveness */
@media (max-width: 768px) {
  .navbar-list {
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: center;
  }
  .navbar-item {
    margin-bottom: 10px; /* Adjust as needed */
    margin-right: 0;
  }
}
