/* Footer CSS */
.footer {
  /* background-color: rgb(13, 8, 41); */
  padding: 5px;
  background: linear-gradient(177deg, rgba(2,0,36,1) 0%, rgba(184,184,214,1) 0%, rgba(0,232,255,0.9810049019607843) 100%);

  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.footer-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.footer-item {
  margin-right: 10px;
}

.footer-link {
  text-decoration: none;
  color: #fff;
}

.footer-icon {
  width: 30px;
  height: 30px;
}

/* Media Query for responsiveness */
@media (max-width: 600px) {
  .footer-list {
    flex-wrap: wrap;
    align-items: center;
  }
  .footer-item {
    margin-bottom: 10px;
    margin-right: 0;
  }
}

.footer-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .footer-icon {
  width: 30px;
  height: 30px;
} */

.icon-name {
  font-size: 12px;
  margin-top: 5px;
}

