/* Footer CSS */
.footer {
  background-color: rgb(13, 8, 41);
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.footer-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.footer-item {
  margin-right: 10px;
}

.footer-link {
  text-decoration: none;
  color: #fff;
}

.footer-icon {
  width: 30px;
  height: 30px;
}

/* Media Query for responsiveness */
@media (max-width: 600px) {
  .footer-list {
    flex-wrap: wrap;
    align-items: center;
  }
  .footer-item {
    margin-bottom: 10px;
    margin-right: 0;
  }
}
