.checkIn-container {
  display: flex;
  /* background-color: rgb(10, 10, 78); */
  /* background-color: rgb(7, 62, 84); */
  /* background: linear-gradient(135deg, rgb(7, 62, 84), rgb(10, 10, 78)); */
  background: linear-gradient(to right, #007991, #291983);
  color: white;
  margin: 10px 20px 0 20px;
  width: auto;
  height: 80px;
  border-radius: 42px;
  /* align-items: flex-start; */
  justify-content: space-between;
}

.title_check {
  /* border: 2px solid yellow; */
  border: 2px solid;
  /* border-image: linear-gradient(135deg, gold, yellow) 1; */
  border-image: linear-gradient(to right, #47b1a9, #ead50e) 1;
  display: flex;
  justify-content: center;
  width: 70px;
}
.title_check2 {
  margin-top: 7px;
  margin-left: 10px;
  font-size: 12px;
}
.check_title {
  /* display: flex; */
  margin: 10px auto 20px 20px;
  display: flex;
  flex-direction: column;
}
.check_title h3 {
  border: 2px solid gold;
}
/* .title p {
  font-size: 12px;
  padding-bottom: 5px;
} */

.img_check {
  display: flex;
}
.img_check img {
  width: 50px;
  height: 50px;
  margin: 15px;
}

.check_in_button {
  width: 95px;
  height: 40px;
  padding: 10px 10px;
  border-radius: 20px;
  cursor: pointer;
}

/* CheckIn.css */
/* 
.check_in_button.default {
  background-color: #28a745; /* Original button color */
/* } */

/* .check_in_button.checked-in {
  background-color: #007bff; /* Green color to indicate success */
/* cursor: not-allowed; */
/* } */
.check_in_button.default {
  background-color: #28a745; /* Original button color */
}

.check_in_button.checked-in {
  background-color: #007bff; /* Color to indicate success */
}

.check_in_button:disabled {
  cursor: not-allowed;
}

/* Retain color when disabled */
.check_in_button.default:disabled {
  background-color: #28a745;
}

.check_in_button.checked-in:disabled {
  background-color: #007bff;
}

.popup {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
}
